@charset UTF-8;
@import url(http://fonts.googleapis.com/css?family=Ropa+Sans);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,600,700);


/* Style Index * /

#0 Reset
#1 Layout Structure
#2 Main header
#3 Main menu
#4 Content styling
#5 Comments
#6 Photo gallery
#7 Portfolio gallery
#8 Sidebar styling
#9 Footer


/* #0 Reset */


@font-face {
    font-family: 'entypo';
    src: url('../fonticons/entypo.svg#entypo') format('svg');
    src: url('../fonticons/entypod41d.eot?#iefix') format('embedded-opentype'),
         url('../fonticons/entypo.svg#entypo') format('svg'),
         url('../fonticons/entypo.woff') format('woff'),
         url('../fonticons/entypo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

::selection
{
background:#264c84;
color:#fff;
}
::-moz-selection
{
background:#264c84;
color:#fff;
}


html, body {
	height: 100%;
}

html {
}

body {
	font-size: 13px;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	color: #5e5e5e;
	background: url(../images/background-texture-1.jpg) top center; 
	line-height:150%;
}

h1, h2, h3, h4, h5, h6, span, p, input {
	margin: 0;
	padding: 0;
}

table, tr, td {
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}

ul, li, ol {
	margin: 0;
	padding: 0;
}

img {
	border: none;
}

/*body, div, p, a, table, td {
	-webkit-text-size-adjust: none;
	letter-spacing: .015em;
}*/

.icon-text {
	font-family: "Entypo"!important;
	font-weight: normal!important;
}

.set-image-border {
	display: inline-block;
	background: #fff;
	padding: 0px;
	position: relative;
}

.set-image-border:before {
	position: absolute;
	display: block;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 2;
	content: '';
	box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.15);
}

span.image-hover {
	position: relative;
	background: #232323;
	display: inline-block;
}

span.image-hover span.set-image-border {
	background: transparent;
}

span.image-hover span.drop-icons {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10;
	text-align: center;
}

span.image-hover span.drop-icons .icon-block {
	display: inline-block;
	position: relative;
	margin-top: 0px;
	opacity: 0;
	filter: alpha(opacity=0);
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}

span.image-hover span.drop-icons .icon-block a {
	display: block;
	background-color: #fff;
	background-size: 16px 16px;
	background-position: center;
	background-repeat: no-repeat;
	width: 35px;
	height: 35px;
	border-radius: 35px;
	margin-right: 5px;
	margin-left: 5px;
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.4);
}

span.image-hover span.drop-icons .icon-block:nth-child(2) {
	transition-delay: 0.1s;
	-moz-transition-delay: 0.1s;
	-webkit-transition-delay: 0.1s;
	-o-transition-delay: 0.1s;
}

span.image-hover span.drop-icons .icon-block:nth-child(3) {
	transition-delay: 0.3s;
	-moz-transition-delay: 0.3s;
	-webkit-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
}

span.image-hover span.drop-icons .icon-block a.icon-loupe {
	background-image: url(../images/icon-article-loupe.png);
}

span.image-hover span.drop-icons .icon-block a.icon-link {
	background-image: url(../images/icon-article-link.png);
}

span.image-hover:hover span.drop-icons .icon-block {
	position: relative;
	top: 50%;
	margin-top: -15px;
	/*margin-top: 21%;*/
	opacity: 0.9;
	filter: alpha(opacity=90);
}

span.image-hover:hover span.drop-icons .icon-block:hover {
	/*margin-top: 21%;*/
	opacity: 1;
	filter: alpha(opacity=100);
}

span.image-hover span.drop-icons .icon-block a {
	display: block;
	/*margin-top: 20%;*/
}

span.image-hover:hover span.drop-icons .icon-block:hover a {
	box-shadow: 0px 0px 5px 3px rgba(255,255,255,0.3);
}

span.image-hover img {
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}

span.image-hover:hover img {
	opacity: 0.5;
	filter: alpha(opacity=50);
}


/* #1 Layout Structure */

a {
	color: #264c84;
	text-decoration: none;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}

a:hover {
	color:#232323;
	text-decoration: none;
}

a:focus {
	outline: 0;
}

.clear-float {
	clear:both;
}

.wrapper {
	width:1010px;
	margin:0px auto;
	position:relative;
}

@media all and (max-width: 1034px) and (min-width: 1000px) {
	.main-content-right {
		width: 261px!important;
		overflow: hidden;
	}

	.main-content-right .main-split-left,
	.main-content-right .main-split-right {
		width: 120px!important;
		overflow: hidden;
	}

	.wrapper {
		width: 961px;
	}

	.panel .set-image-border img {
		width: 100%;
	}

	.banner img {
		width: 95%;
	}
}

.left {
	float:left;
}

.right {
	float:right;
}

.boxed {
	display: block;
	margin: 0px auto;
	width: 100%;
	background-color: #fff;
/*	background-image: url(../images/background-header.jpg);*/
	background-position: top center;
	background-repeat: no-repeat;
	min-height: 100%;
}

.boxed.active {
	width: 1040px;
	min-height: 100%;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.26), inset 0px 0px 0px 1px rgba(255,255,255,0.5);
}


/* #2 Main header */

.header .header-menu.thisisfloat {
	display: none;
}

.header {
	display: block;
	margin-bottom: 15px;
}

.double-split {
	display: block;
	height: 1px;
	border-top: 1px dotted #ccc;
	border-bottom: 1px dotted #ccc;
	margin-top: 10px;
}

.single-split {
	display: block;
	height: 1px;
	border-bottom: 1px dotted #ccc;
	margin-top: 10px;
}

.header-very-top {
	display: block;
	margin-bottom: 20px;
	padding-top: 10px;
}

.header-middle {
	display: block;
	margin-bottom: 20px;
}

.header-middle .logo-image {
	display: block;
	float: left;
}

.header-middle .logo-image h1 {
	display: none;
}

.header-middle .logo-image a {
	line-height: 120%;
	font-size: 55px;
}

.header-middle .logo-image a img {
	vertical-align: middle;
}

.header-middle .logo-text {
	display: block;
	float: left;
}

.header-middle .logo-text h1 {
	font-size: 55px;
	color: #232323;
	font-family: 'Titillium Web', sans-serif;
	line-height: 130%;
}

.header-middle .logo-text h1 a {
	color: #232323;
}

.header-middle .banner {
	display: block;
	float: right;
	width: 468px;
}

.sponsored {
	display: block;
	text-align: center;
	color: #999999;
	font-size: 9px;
	text-transform: uppercase;
	font-weight: bold;
}

.sponsored .icon-default {
	display: inline-block;
	color: transparent;
	background: url(../images/icon-default.png) no-repeat center;
	width: 7px;
	height: 7px;
	padding: 6px 7px;
}



/* #3 Main menu */

.phone-icon {
	display: none;
}

.header .header-menu {
	display: block;
	border-top: 1px dotted #c5c5c5;
	background: #f6f6f6;
	border-bottom: 1px dotted #c5c5c5;
}

.header .header-menu li {
	display: block;
	float: left;
	background: #232323;
	padding: 1px 0px;
	color: #232323;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}

.header .header-menu li a {
	display: block;
	padding: 10px 16px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Titillium Web', sans-serif;
	font-size: 14px;
	background: #f6f6f6;
	border-top: inherit;
	border-bottom: inherit;
	margin-top: -1px;
	margin-bottom: -1px;
	color: inherit;
}

.header .header-menu li:hover {
	margin-top: -1px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: -1px;
}

.header .header-menu li:hover a {
	color: #fff;
	border: 0px;
	background: transparent;
}

.header .header-menu li > a span {
	display: inline-block;
	height: 5px;
	width: 5px;
	background-color: #ccc;
	background-image: url(../images/icon-default-menu.png);
	background-repeat: no-repeat;
	margin: 7px 0px 0px 10px;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}

.header .header-menu li:hover > a span {
	background-color: transparent;
	background-image: url(../images/icon-default-menu-hover.png);
	background-repeat: no-repeat;
}

.header .header-menu ul.main-menu > li > ul.sub-menu {
	display: none;
	position: absolute;
	width: 280px;
	z-index: 100;
	background: inherit;
}

.header .header-menu ul.main-menu > li > ul.sub-menu > li > ul.sub-menu {
	display: none;
	position: absolute;
	left: 280px;
	margin-top: -38px;
	width: 280px;
	z-index: 100;
	background: inherit;
}

.header .header-menu ul.main-menu > li > ul.sub-menu > li:hover > ul.sub-menu {
	display: block;
}

.header .header-menu ul.main-menu > li > ul.sub-menu > li > ul.sub-menu li {
	border-bottom: 1px solid rgba(255,255,255,0.03);
}

.header .header-menu ul.main-menu > li > ul.sub-menu > li > ul.sub-menu li a {
	background: rgba(0,0,0,0.07);
}

.header .header-menu ul.main-menu > li > ul.sub-menu > li > ul.sub-menu li:hover a {
	background: rgba(0,0,0,0.2);
}

.header .header-menu ul.main-menu > li:hover > ul.sub-menu {
	display: block;
}

.header .header-menu ul.main-menu > li > ul.sub-menu li {
	display: block;
	float: none;
	background: inherit;
	border-bottom: 1px solid rgba(255,255,255,0.07);
}

.header .header-menu ul.main-menu > li > ul.sub-menu li > a {
	display: block;
	width: 280px;
	float: none;
	margin: 0px;
	background: transparent;
	color: #fff;
	width: auto;
	font-size: 13px;
}

.header .header-menu ul.main-menu > li:hover > ul.sub-menu {
	display: block;
}

.header .header-menu ul.main-menu > li > ul.sub-menu li > a span {
	background-color: transparent;
	background-image: url(../images/icon-default-menu-hover.png);
	background-repeat: no-repeat;
}

.header .header-menu ul.main-menu > li > ul.sub-menu li:hover > a {
	margin: 0px;
	background: rgba(0,0,0,0.07);
	width: auto;
}

.header .header-menu ul.main-menu > li > ul.sub-menu li, .header .header-menu ul.main-menu > li > ul.sub-menu li:hover {
	margin: 0px;
	padding: 0px;
}

.header .menu-search {
	display: block;
	position: relative;
	margin-top: 6px;
}

.header .menu-search input[type=text] {
	display: block;
	background: #fff;
	border: 1px solid #e2e2e2;
	box-shadow: inset 0px 2px 10px rgba(0,0,0,0.05);
	border-radius: 2px;
	-moz-border-radius: 2px;
	padding: 5px 10px;
	padding-right: 25px;
	color: #232323;
	font-size: 12px;
}

.header .menu-search input[type=text]:focus {
	border: 1px solid #cdcdcd;
}

.header .menu-search input[type=submit] {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 2;
	width: 12px;
	height: 12px;
	padding: 14px;
	border: 0px;
	background-color: transparent;
	background-image: url(../images/icon-search.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 12px 12px;
	color: transparent;
	cursor: pointer;
}

.header .weather-report > b {
	color: #232323;
	font-weight: bold;
	text-transform: uppercase;
	display: inline-block;
	padding-right: 5px;
	font-size: 12px;
}

.header .weather-report > span {
	color: #c6c6c6;
	font-weight: bold;
	text-transform: uppercase;
	display: inline-block;
	padding-right: 5px;
	font-size: 12px;
}

.header .weather-report .weather-meter {
	display: inline-block;
	background: #e87c2d;
	box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.2);
	color: #fff;
	font-weight: bold;
	border-radius: 2px;
	-moz-border-radius: 2px;
	padding: 1px 6px;
	margin-left: 6px;
	margin-top: -1px;
}



/* ### */

.header .header-undermenu {
	display: block;
	background: rgba(255,255,255,0.4);
	border-bottom: 1px dotted #ccc;
}

.header .header-undermenu ul {
	display: block;
	padding-left: 6px;
}

.header .header-undermenu ul li {
	display: block;
	float: left;
	padding: 8px 10px 6px 10px;
	background: url(../images/icon-menu-split.jpg) no-repeat right center;
}

.header .header-undermenu ul li:last-child {
	background: none;
}

.header .header-undermenu ul li a {
	display: block;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	color: #989898;
}

.header .header-undermenu ul li a:hover {
	color: #232323;
}



/* ee */

.very-top-menu {
	display: block;
}

.very-top-menu > li {
	display: block;
	float: left;
	margin-right: 9px;
	border-right: 1px dotted #e5e5e5;
}

.very-top-menu > li:last-child {
	border-right: 0px;
}

.very-top-menu > li ul.sub-menu:before {
	display: block;
	content: '';
	width: 6px;
	height: 6px;
	position: absolute;
	top: -4px;
	background: inherit;
	border-left: inherit;
	border-top: inherit;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
}

.very-top-menu > li ul.sub-menu {
	display: none;
	position: absolute;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.1), inset 0px 0px 0px 1px #fff;
	background: #f6f6f6;
	border: 1px solid #d5d5d5;
	border-radius: 3px;
	-moz-border-radius: 3px;
	width: 170px;
	padding: 9px 14px;
	margin-top: 7px;
	margin-left: -10px;
	z-index: 100;
}

.very-top-menu > li > ul.sub-menu > li > ul.sub-menu {
	left: 190px;
	margin-top: -28px;
}

.main-content-split .article-side-block .article-header h2 a {
	font-size: 15px;
}

.very-top-menu > li ul.sub-menu > li > ul.sub-menu:before {
	left: -4px;
	top: 14px;
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
}

.very-top-menu > li:hover > ul.sub-menu {
	display: block;
}

.very-top-menu > li > ul.sub-menu > li:hover > ul.sub-menu {
	display: block;
}

.very-top-menu > li > ul.sub-menu li {
	padding-bottom: 7px;
	margin-bottom: 7px;
	border-bottom: 1px dotted #c5c5c5;
}

.very-top-menu > li > ul.sub-menu li:last-child, .very-top-menu > li > ul.sub-menu li.last-child {
	padding-bottom: 0px;
	margin-bottom: 0px;
	border-bottom: 0px;
}

.very-top-menu > li a {
	display: block;
	padding: 0px 1px 0px 0px;
	margin-right: 9px;
	font-weight: bold;
	font-size: 10px;
	color: #727272;
	text-transform: uppercase;
	height: 19px;
}

.main-nosplit .panel .banner {
	margin-bottom: 0px;
}

.very-top-menu > li li a {
	height: auto;
}

.very-top-menu > li a:hover {
	color: #232323;
}

.very-top-menu > li > a span {
	display: block;
	background: url(../images/icon-default.png) no-repeat right 7px;
	padding-right: 13px;
}

.very-top-menu > li a span {
	display: block;
	background: url(../images/icon-default.png) no-repeat right 7px;
	padding-right: 13px;
}

.very-top-menu > li:hover > a span {
	padding-bottom: 20px;
}





/* # */

.breaking-news {
	display: block;
	overflow: hidden;
	height: 29px;
	margin-bottom: 15px;
}

.breaking-news .breaking-icon {
	float: left;
	display: block;
	background-color: transparent;
	background-image: url(../images/icon-breaking.png);
	background-size: 13px 13px;
	background-position: center;
	background-repeat: no-repeat;
	width: 13px;
	height: 13px;
	cursor: default;
	margin: 3px 8px 0px 0px;
}

.breaking-news .breaking-controls {
	display: block;
	background-color: #264c84;
	float: right;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	cursor: default;
	padding: 5px 11px;
	position: relative;
	margin-left: 20px;
	height: 29px;
	margin-top: -29px;
}

.breaking-news .breaking-controls .the-corner {
	display: block;
	position: absolute;
	background: inherit;
	width: 40px;
	height: 40px;
	left: -6px;
	top: 0px;
	z-index: 1;
	transform: rotate(15deg);
	-ms-transform: rotate(15deg);
	-webkit-transform: rotate(15deg);
	-o-transform: rotate(15deg);
	-moz-transform: rotate(15deg);
}

.breaking-news .breaking-controls .breaking-arrow-left {
	display: inline-block;
	background-color: transparent;
	background-image: url(../images/icon-breaking-left.png);
	background-size: 11px 11px;
	background-position: center;
	background-repeat: no-repeat;
	width: 11px;
	height: 11px;
	padding: 4px 3px;
}

.breaking-news .breaking-controls .breaking-arrow-right {
	display: inline-block;
	background-color: transparent;
	background-image: url(../images/icon-breaking-right.png);
	background-size: 11px 11px;
	background-position: center;
	background-repeat: no-repeat;
	width: 11px;
	height: 11px;
	padding: 4px 3px;
}

.breaking-news .breaking-controls .breaking-arrow-left:hover, .breaking-news .breaking-controls .breaking-arrow-right:hover {
	opacity: 0.6;
	filter:alpha(opacity=60);
}

.breaking-news .breaking-title {
	display: block;
	background-color: #264c84;
	float: left;
	color: #fff;
	font-size: 13px;
	font-weight: normal!important;
	cursor: default;
	padding: 5px 11px;
	position: relative;
	margin-right: 20px;
}

.breaking-news .breaking-controls a {
	position: relative;
	z-index: 2;
}

.breaking-news .breaking-title span,
.breaking-news .breaking-title b {
	position: relative;
	z-index: 2;
}

.breaking-news .breaking-title .the-corner {
	display: block;
	position: absolute;
	background: inherit;
	width: 40px;
	height: 40px;
	right: -8px;
	top: -10px;
	z-index: 1;
	transform: rotate(15deg);
	-ms-transform: rotate(15deg);
	-webkit-transform: rotate(15deg);
	-o-transform: rotate(15deg);
	-moz-transform: rotate(15deg);
}

.breaking-news .breaking-block {
	display: block;
	float: none;
	width: auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-left: 160px;
	margin-right: 80px;
	height: 29px;
}

.breaking-news .breaking-block ul {
	white-space: nowrap;
	padding-top: 6px;
	width: 8000px;
	padding-bottom: 4px;
	position: relative;
	font-size: 0;
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
}

.breaking-news .breaking-block ul li {
	display: inline-block;
	margin-right: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 13px;
}

.breaking-news .breaking-block ul li a {
	font-size: 13px;
	font-weight: bold;
	margin-right: 12px;
}

.breaking-news .breaking-block ul li span {
	color: #a9a9a9;
}


/* ## */

.slider-container {
	display: block;
	margin-bottom: 15px;
}

.slider-container .slider-content {
	display: block;
	overflow: hidden;
	width: 680px;
	height: 250px;
	position: relative;
	background-color: #e5e5e5;
}

.slider-container .slider-content ul {
	display: block;
	position: relative;
	top: 0px;
	left: 0px;
	-moz-transition: top 0.2s;
	-webkit-transition: top 0.2s;
	-o-transition: top 0.2s;
}

.slider-container .slider-content ul li {
	display: block;
	z-index: 5;
	position: relative;
	height: inherit;
	width: inherit;
	overflow: hidden;
}

.slider-container .slider-content ul li.active {
	z-index: 7;
}

.slider-container .slider-content .slider-info {
	display: block;
	position: absolute;
	left: 15px;
	bottom: 15px;
	background: rgba(0,0,0,0.8);
	z-index: 10;
	color: #f0f0f0;
	padding: 12px 18px;
	font-size: 13px;
	max-width: 310px;
	font-weight: bold;
}

.slider-container .slider-content ul li:hover .slider-info {
	background: #000;
}

.slider-container .slider-content .slider-loading {
	display: block;
	height: 4px;
	width: 0%;
	background: #fff;
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 10;
	opacity: 0.6;
	filter: alpha(opacity=60);
	margin: 0px;
}

.slider-container .slider-controls {
	display: table;
	width: 100%;
}

.slider-container .slider-controls .slider-control {
	display: table-cell;
	width: 10%;
}

.slider-container .slider-controls .slider-control a {
	display: block;
	width: auto;
	background: #e5e5e5;
	margin-top: 1px;
	margin-right: 1px;
	color: transparent;
	height: 10px;
	overflow: hidden;
	text-indent: -100px;
}

.slider-container .slider-controls .slider-control a:hover {
	background: #232323;
}

.slider-container .slider-controls .slider-control.active a {
	background: #264c84;
}

.slider-container .slider-controls .slider-control:last-child a {
	margin-right: 0px;
}




/* #4 Content Styling */

.main-content-left {
	display: block;
	float: left;
	width: 680px;
	margin-bottom: 20px;
}

.main-content-split {
	display: block;
	width: 100%;
	overflow: hidden;
}

.main-content-split .main-split-left {
	display: block;
	float: left;
	width: 330px;
}

.main-content-split .main-split-right {
	display: block;
	float: left;
	width: 330px;
	margin-left: 20px;
}

.article-big-block, .article-small-block {
	display: block;
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px dotted #cccccc;
}

.article-big-block .article-photo {
	display: block;
	padding-bottom: 12px;
}

.article-big-block .article-header, .article-small-block .article-header {
	display: block;
	padding-bottom: 10px;
}

.article-big-block .article-header h2, .article-small-block .article-header h2 {
	font-size: 20px;
	font-family: 'Titillium Web', sans-serif;
	margin-top: -4px;
}

.article-big-block .article-header h2 a, .article-small-block .article-header h2 a {
	color: #232323;
	line-height: 120%;
}

.article-big-block .article-header h2 a:hover, .article-small-block .article-header h2 a:hover {
	color: #232323;
	text-decoration: underline;
}

.article-big-block .article-content {
	display: block;
	padding-bottom: 12px;
}

.article-small-block .article-photo {
	display: block;
	padding-bottom: 12px;
	float: left;
	margin-right: 20px;
	margin-top: 5px;
	width: 140px;
	height: 110px;
}

.article-small-block .article-photo img {
	width: 140px;
	height: 110px;
}

.archive .article-big-block .article-photo, .archive .article-big-block .article-photo img {
	width: 320px;
	height: 194px;
}

.article-big-block .article-photo, .article-big-block .article-photo img {
	width: 330px;
	height: 200px;
}

.main-nosplit .article-big-block .article-photo, .main-nosplit .article-big-block .article-photo img {
	width: 680px;
	height: 320px;
}

.article-small-block .article-content {
	display: block;
	padding-bottom: 12px;
}

.article-big-block .article-content p, .article-small-block .article-content p {
	color: #6f6f6f;
	text-align: justify;
	line-height: 150%;
	font-size: 12px;
}

.article-small-block .article-content p {
	line-height: 144%;
}

.article-big-block .article-links, .article-small-block .article-links, .images-content .article-links, .article-middle-block .article-links, .article-side-block .article-links {
	display: block;
	padding-bottom: 0px;
	clear: both;
}

.article-big-block .article-links .article-icon-link, .article-small-block .article-links .article-icon-link, .images-content .article-links .article-icon-link, .article-middle-block .article-links .article-icon-link, .article-side-block .article-links .article-icon-link, .article-classic .article-links .article-icon-link {
	display: inline-block;
	margin-right: 13px;
	font-weight: bold;
	font-size: 11px;
	color: #232323;
}

.article-big-block .article-links .article-icon-link .icon-text, .article-small-block .article-links .article-icon-link .icon-text, .images-content .article-links .article-icon-link .icon-text, .article-middle-block .article-links .article-icon-link .icon-text, .article-side-block .article-links .article-icon-link .icon-text, .article-classic .article-links .article-icon-link .icon-text {
	display: inline-block;
	padding-right: 6px;
	font-size: 13px;
}

.article-big-block .article-links .article-icon-link:hover, .article-small-block .article-links .article-icon-link:hover, .images-content .article-links .article-icon-link:hover, .article-middle-block .article-links .article-icon-link:hover, .article-side-block .article-links .article-icon-link:hover, .article-classic .article-links .article-icon-link:hover {
	color: #264c84;
	text-decoration: underline;
}


.content-panel {
	display: block;
	margin-bottom: 20px;
	border-bottom: 1px dotted #cccccc;
	padding-bottom: 15px;
}

.content-panel .panel-header {
	display: block;
	background: #ececec;
	height: 29px;
	overflow: hidden;
	margin-bottom: 15px;
}

.content-panel .panel-header b {
	display: block;
	background: #264c84;
	color: #fff;
	padding: 5px 10px;
	float: left;
	position: relative;
	z-index: 0;
	text-transform: uppercase;
	font-size: 11px;
}

.content-panel .panel-header b .icon-text {
	display: inline-block;
	padding-right: 8px;
}

.content-panel .panel-header b:after {
	display: block;
	position: absolute;
	background: inherit;
	width: 40px;
	height: 40px;
	right: -10px;
	top: -10px;
	z-index: -1;
	content: '';
	transform: rotate(15deg);
	-ms-transform: rotate(15deg);
	-webkit-transform: rotate(15deg);
	-o-transform: rotate(15deg);
	-moz-transform: rotate(15deg);
}

.content-panel .panel-header .top-right {
	float: right;
	padding: 4px 10px;
	text-transform: uppercase;
}

.content-panel .panel-header .top-right a {
	font-size: 10px;
	font-weight: bold;
	color: #616161;
}

.content-panel .panel-header .top-right a:hover {
	color: #232323;
}

.article-array {
	display: block;
}

.article-array.content-category:empty {
	display: none;
}

.article-array li {
	display: block;
	padding-left: 14px;
	margin-top: 6px;
	position: relative;
}

.article-array li a {
	font-weight: bold;
	font-size: 12px;
}

.article-array li:before {
	display: block;
	position: absolute;
	width: 5px;
	height: 5px;
	content: '';
	padding: 0px;
	background: #264c84;
	top: 7px;
	left: 0px;
}

.article-array.content-category li:before {
	background: #232323;
}

.article-array.content-category li a {
	color: #232323;
}

.article-array li a:hover {
	text-decoration: underline;
}

.article-array li a.comment-icon {
	display: inline-block;
	padding-left: 10px;
	color: #afafaf;
	font-size: 10px;
}

.article-array li a.comment-icon .icon-text {
	display: inline-block;
	font-size: 11px;
	padding: 1px 4px 0px 0px;
}

.article-array li a.comment-icon:hover {
	color: #464646;
	text-decoration: none;
}

.main-nosplit .banner {
	display: block;
	margin-bottom: 20px;
	border-bottom: 1px dotted #cccccc;
	padding-bottom: 15px;
	text-align: center;
}

.main-content-right .main-content-split .banner {
	margin-bottom: 15px;
}

.main-content-right .main-content-split .banner img {
	width: 100%;
}

.video-blocks {
	display: block;
}

.video-blocks .video-left {
	width: 330px;
	display: block;
	float: left;
}

.video-blocks .video-right {
	width: 330px;
	display: block;
	float: left;
	margin-left: 20px;
}

.video-blocks .video-large {
	display: block;
}

.video-blocks .video-large .video-image {
	display: block;
	margin-bottom: 13px;
}

.video-blocks .video-large h2 {
	display: block;
	font-size: 15px;
}

.video-blocks .video-large h2 a {
	color: #232323;
}

.video-blocks .video-large h2 a:hover {
	text-decoration: underline;
}

a .hover-icon {
	position: absolute;
	z-index: 11;
	margin-left: 18px;
	display: block;
	background: #da472a;
	color: #fff;
	padding: 12px 10px 7px 10px;
	font-size: 15px;
	box-shadow: 0px 2px 0px rgba(0,0,0,0.2), inset 0px 1px 0px rgba(0,0,0,0.1);
}

a:hover .hover-icon {
	padding-top: 16px;
}

.video-small {
	display: block;
	width: 155px;
	margin-bottom: 15px;
	border-bottom: 1px dotted #cccccc;
	padding-bottom: 12px;
	margin-right: 20px;
	float: left;
}

.video-small:nth-child(2) {
	margin-right: 0px;
}

.video-small:nth-child(3) {
	padding-bottom: 0px;
	margin-bottom: 0px;
	border-bottom: 0px;
}

.video-small:nth-child(4) {
	margin-right: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	border-bottom: 0px;
}

.video-small a .hover-icon {
	padding: 5px 7px;
	margin-left: 14px;
}

.video-small a:hover .hover-icon {
	padding-top: 8px;
}

.video-small h2 a {
	display: block;
	font-size: 13px;
	line-height: 120%;
	font-family: 'Titillium Web', sans-serif;
	color: #232323;
}

.video-small h2 a:hover {
	text-decoration: underline;
}

.video-small .video-image {
	display: block;
	margin-bottom: 8px;
}


.photo-gallery-blocks {
	display: block;
	width: 100%;
	overflow: hidden;
	position: relative;
	padding: 10px 0px;
	margin-bottom: -25px;
}

.photo-gallery-blocks ul.images-scroll {
	display: block;
	width: 10000px;
	position: relative;
	margin-left: -60px;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}

.photo-gallery-blocks ul.images-scroll li {
	display: block;
	float: left;
	width: 250px;
	height: 183px;
	opacity: 0.6;
	filter: alpha(opacity=60);
	margin-top: 16px;
}

.photo-gallery-blocks ul.images-scroll li img {
	display: block;
	width: 250px;
	height: 183px;
}

.photo-gallery-blocks ul.images-scroll li.active, .photo-gallery-blocks ul.images-scroll li.active:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	display: block;
	margin-top: 0px;
}

.photo-gallery-blocks ul.images-scroll li:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.photo-gallery-blocks ul.images-scroll li.active, .photo-gallery-blocks ul.images-scroll li.active img {
	width: 300px;
	height: 220px;
	box-shadow: 0px 0px 200px 40px #fff;
	position: relative;
	z-index: 10;
}

.photo-gallery-blocks .photo-scroll-left {
	display: block;
	position: absolute;
	top: 108px;
	left: 150px;
	z-index: 12;
	font-size: 36px;
	color: #313131;
	text-shadow: 0px 1px 0px #fff;
}

.photo-gallery-blocks .photo-scroll-right {
	display: block;
	position: absolute;
	top: 108px;
	right: 150px;
	z-index: 12;
	font-size: 36px;
	color: #313131;
	text-shadow: 0px 1px 0px #fff;
}

.photo-gallery-blocks .images-content {
	display: block;
	z-index: 12;
	background: #f7f7f7;
	position: relative;
	margin-top: 16px;
	padding-bottom: 14px;
}

.photo-gallery-blocks .images-content > li {
	display: none;
}

.photo-gallery-blocks .images-content > li.active {
	display: block;
}

.photo-gallery-blocks .images-content > li div.d-wrapper {
	display: block;
	width: 300px;
	margin: 0px auto;
	padding: 0px;
}

.photo-gallery-blocks .images-content li div.article-header {
	display: block;
	margin-bottom: 10px;
}

.photo-gallery-blocks .images-content li div.article-header h2 a {
	color: #232323;
	display: block;
	font-size: 16px;
	line-height: 120%;
	font-family: 'Titillium Web', sans-serif;
}

.photo-gallery-blocks .images-content li div.article-header h2 a:hover {
	text-decoration: underline;
}

.photo-gallery-blocks .images-content li div.gallery-thumbs {
	background: #ececec;
	margin-bottom: 12px;
}

.gallery-thumbs {
	padding: 10px 0px;
}

.gallery-thumbs ul li {
	float: left;
	display: block;
	margin-right: 10px;
}

.gallery-thumbs ul li:last-child {
	margin-right: 0px;
}

.gallery-thumbs ul > li {
	opacity: 1;
	filter: alpha(opacity=100);
}

.gallery-thumbs ul > li:hover {
	opacity: 0.6;
	filter: alpha(opacity=60);
}

.content-article-title {
	display: block;
	margin-bottom: 15px;
	padding-bottom: 18px;
	border-bottom: 4px solid #264c84;
	color: #264c84;
	position: relative;
}

.content-article-title h2 {
	font-size: 33px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Titillium Web', sans-serif;
	margin-right: 150px;
	line-height: 35px;
}

.content-article-title .right-title-side {
	position: absolute;
	top: 4px;
	vertical-align: bottom;
	right: 0px;
	line-height: 110%;
	text-align: right;
}

.content-article-title .right-title-side a {
	display: block;
	color: #858585;
	font-weight: bold;
	font-size: 10px;
	text-transform: uppercase;
}

.content-article-title .right-title-side a:hover {
	color: #232323;
}

.content-article-title .right-title-side a.orange {
	color: #ff6600;
}

.content-article-title .right-title-side a.orange:hover {
	color: #a94400;
}

.content-article-title .right-title-side a span.icon-text {
	display: inline-block;
	padding-right: 7px;
}


.page-pager {
	display: block;
	text-align: center;
	font-size: 0;
	border-top: 1px solid #264c84;
	margin-top: 20px;
}

.page-pager li {
	display: inline-block;
}

.page-pager a.page-numbers, .page-pager span.page-numbers {
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
	color: #8f8e8e;
	padding: 7px 11px;
	background: #f6f6f6;
	vertical-align: middle;
	line-height: 110%;
	text-transform: uppercase;
}

.page-pager span.page-numbers, .page-pager a.page-numbers:hover {
	background: #264c84;
	color: #fff;
}

.page-pager > a, .page-pager > span {
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
	color: #8f8e8e;
	padding: 7px 11px;
	background: #f6f6f6;
	vertical-align: middle;
	line-height: 110%;
	text-transform: uppercase;
}

.page-pager > span, .page-pager > a:hover {
	background: #264c84;
	color: #fff;
}

.page-pager .prev {
	float: left;
}

.page-pager .next {
	float: right;
}

.page-pager .prev span.icon-text {
	display: inline-block;
	padding-right: 9px;
	line-height: 120%;
}

.page-pager .next span.icon-text {
	display: inline-block;
	padding-left: 9px;
	line-height: 120%;
}



/* #5 Comments */

.comment-block {
	display: block;
	margin-bottom: 25px;
}

.comment-block .commment-content {
	display: block;
	padding-bottom: 12px;
	margin-bottom: 15px;
	border-bottom: 1px dotted #ccc;
	position: relative;
}

.comment-block .commment-content .user-avatar {
	display: block;
	float: left;
	width: 60px;
	height: 60px;
	margin-right: 15px;
	margin-top: 3px;
}

.comment-block .commment-content .user-avatar img {
	width: 60px;
	height: 60px;
}

.comment-block .commment-content .user-nick {
	display: block;
	margin-left: 75px;
	color: #232323;
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 8px;
}

.comment-block .commment-content .user-nick .marker {
	font-size: 10px;
	display: inline-block;
	padding: 2px 4px;
	background: #232323;
	color: #fff;
	line-height: 100%;
	margin: 3px 0px 0px 10px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	cursor: default;
}

.comment-block .commment-content .user-nick a {
	color: #232323;
}

.comment-block .commment-content .user-nick a:hover {
	text-decoration: underline;
}

.comment-block .commment-content .time-stamp {
	position: absolute;
	top: 0px;
	right: 0px;
	color: #b8b8b8;
	font-size: 11px;
}

.comment-block .commment-content .comment-text {
	display: block;
	margin-left: 75px;
	padding-bottom: 8px;
}

.comment-block .commment-content .icon-link {
	color: #767676;
	font-size: 11px;
	font-weight: bold;
	margin-left: 75px;
	display: block;
}

.comment-block .commment-content .icon-link:hover {
	color: #232323;
	text-decoration: underline;
}

.comment-block .commment-content .icon-link .icon-text {
	display: inline-block;
	padding-right: 6px;
}


.comment-block > ol > li ul li .commment-content {
	display: block;
	background: #f6f6f6;
	margin-top: -15px;
	padding-top: 15px;
	padding-left: 75px;
	padding-right: 15px;
}

.comment-block > ol > li > ul {
	position: relative;
}

.comment-block > ol > li > ul:before {
	display: block;
	background: #fff;
	content: '';
	position: absolute;
	top: -3px;
	left: 90px;
	width: 6px;
	height: 6px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	z-index: 10;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
}

.comment-block > ol > li ul li .commment-content .user-avatar,
.comment-block > ol > li ul li .commment-content .user-avatar img {
	width: 40px;
	height: 40px;
}

.comment-block > ol > li ul li .commment-content .icon-link,
.comment-block > ol > li ul li .commment-content .comment-text,
.comment-block > ol > li ul li .commment-content .user-nick {
	margin-left: 55px;
}

.comment-block > ol > li ul li .commment-content .time-stamp {
	top: 15px;
	right: 15px;
}


#writecomment {
	display: block;
	padding-bottom: 25px;
}

#writecomment p {
	display: block;
	padding-bottom: 7px;
	text-align: center;
	position: relative;
	width: 300px;
	margin: 0px auto;
	text-align: left;
}

#writecomment p.comment-notes {
	display: block;
	padding-bottom: 20px;
	font-size: 12px;
}

#writecomment p label {
	position: absolute;
	right: 320px;
	white-space: nowrap;
	padding-top: 4px;
	font-weight: bold;
	font-size: 11px;
}

#writecomment p label .required {
	position: absolute;
	right: -10px;
	color: #cc1c1c;
	font-size: 13px;
	font-weight: bold;
}

#writecomment p .comment-error {
	display: block;
	position: relative;
	font-size: 10px;
	font-weight: bold;
	width: 180px;
	background: #cc1c1c;
	color: #fff;
	padding: 2px 8px;
	cursor: default;
	border-radius: 0px 0px 2px 2px;
	-moz-border-radius: 0px 0px 2px 2px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#writecomment p .comment-error.textarea-error {
	width: 100%;
	margin-top: -5px;
}

#writecomment p .comment-error .icon-text {
	display: inline-block;
	padding-right: 6px;
}

#writecomment input[type=text], #writecomment textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 12px;
}

#writecomment input[type=text] {
	padding: 5px 8px;
	width: 180px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #d3d3d3;
	box-shadow: inset 0px 10px 15px rgba(0,0,0,0.04);
	color: #6f6f6f;
	font-size: 12px;
}

#writecomment input[type=text].error, #writecomment textarea.error {
	border: 1px solid #cc1c1c;
	border-radius: 2px 2px 0px 0px;
	-moz-border-radius: 2px 2px 0px 0px;
}

#writecomment textarea {
	padding: 5px 8px;
	width: 100%;
	height: 100px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #d3d3d3;
	box-shadow: inset 0px 10px 15px rgba(0,0,0,0.04);
	color: #6f6f6f;
}


.split-line {
	display: block;
	border-bottom: 1px dotted #ccc;
	height: 1px;
	margin-bottom: 25px;
}

.article-split-line {
	display: block;
	border-bottom: 1px dotted #ccc;
	height: 1px;
	margin-bottom: 15px;
}

.tag-block a {
	display: inline-block;
	color: #6f6f6f;
	background: #fff;
	font-size: 10px!important;
	font-weight: bold;
	padding: 0px 7px;
	border: 1px solid #ececec;
	margin: 0px 7px 7px 0px;
}

.tag-block a:hover {
	background: #264c84;
	border: 1px solid #264c84;
	color: #fff;
}

.main-content-right:first-child {
	margin-left: 0px;
	margin-right: 20px;
}

.no-comment-block {
	display: block;
	width: 360px;
	margin: 35px auto 30px auto;
}

.no-comment-block p {
	display: block;
	margin-left: 70px;
	font-size: 12px;
	padding-bottom: 10px;
}

.no-comment-block .big-icon {
	display: block;
	float: left;
	font-size: 44px;
	color: #232323;
	line-height: 56px;
}

.no-comment-block b {
	display: block;
	margin-left: 70px;
	font-weight: bold;
	font-size: 22px;
	font-family: 'Titillium Web', sans-serif;
	color: #232323;
	line-height: 150%;
	padding-bottom: 4px;
}

.no-comment-block .icon-link {
	margin-left: 70px;
}

.no-comment-block .icon-link {
	color: #767676;
	font-size: 11px;
	font-weight: bold;
	margin-left: 70px;
}

.no-comment-block .icon-link:hover {
	color: #232323;
	text-decoration: underline;
}

.no-comment-block .icon-link .icon-text {
	display: inline-block;
	padding-right: 6px;
}


.huge-message {
	margin: 90px 0px;
	text-align: center;
}

.huge-message .big-title {
	font-size: 80px;
	font-weight: bold;
	display: block;
	font-family: 'Titillium Web', sans-serif;
	color: #232323;
	line-height: 110%;
}

.huge-message .small-title {
	font-size: 40px;
	font-weight: bold;
	display: block;
	font-family: 'Titillium Web', sans-serif;
	color: #232323;
	line-height: 120%;
}

.huge-message p {
	margin-top: 20px;
	font-size: 12px;
}

.huge-message .icon-link {
	margin-top: 20px;
	display: inline-block;
	color: #767676;
	font-size: 11px;
	font-weight: bold;
}

.huge-message .icon-link .icon-text {
	padding-right: 6px;
	display: inline-block;
}

.huge-message .icon-link:hover {
	color: #232323;
	text-decoration: underline;
}




/* #6 Photo Gallery */

.gallery-panel {
	background: #f6f6f6;
	padding-bottom: 0px;
	border: 0px;
}

.gallery-panel .article-big-block {
	margin-bottom: 0px;
	border: 0px;
	padding-bottom: 0px;
}

.gallery-panel .article-header {
	margin: 0px 15px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.gallery-panel .article-header h2 {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.gallery-panel .article-content {
	margin: 0px 15px;
}

.gallery-panel .the-button {
	background: #ececec;
	color: #686868;
	font-weight: bold;
	font-size: 12px;
	display: block;
	text-align: center;
	padding: 8px 0px;
}

.gallery-panel .the-button .icon-text {
	padding-right: 8px;
}

.gallery-panel .the-button:hover {
	background: #e0e0e0;
}

.gallery .gallery-block {
	display: block;
	float: left;
	width: 320px;
	margin-right: 0px;
	margin-bottom: 15px;
	overflow: hidden;
}

.gallery .gallery-block:not(.isotope-item) {
	margin-right: 25px;
}

.gallery .gallery-block:not(.isotope-item):nth-child(3n) {
	margin-right: 0px;
}

.gallery .gallery-block .content-panel.gallery-panel {
	margin-right: 25px;
}

.gallery .gallery-block:nth-child(3n+0) .content-panel.gallery-panel {
	margin-right: 0px;
}

.gallery .article-big-block .article-photo, .gallery .article-big-block .article-photo img {
	width: 320px;
	height: 200px;
}

.gallery .gallery-block .article-content {
	margin-bottom: 15px;
	padding: 0px;
	overflow: hidden;
	height: 74px;
}


.gallery-box {
	display: block;
	background: #232323;
	position: relative;
	z-index: 30;
	color: #fff;
	padding: 20px;
}

.gallery-box .gallery-box-header {
	display: block;
	margin-bottom: 20px;
	font-size: 0;
}

.gallery-box .gallery-box-header h2 {
	font-size: 17px;
	font-family: 'Titillium Web', sans-serif;
	text-transform: uppercase;
	padding-right: 110px;
}

.gallery-box .gallery-box-header .numbering {
	display: block;
	position: absolute;
	top: 20px;
	right: 20px;
}

.gallery-box .gallery-box-header .numbering .numbers {
	display: inline-block;
	padding: 0px 10px 0px 15px;
	letter-spacing: 5px;
	font-weight: bold;
	font-size: 12px;
	margin-top: -1px;
	text-align: center;
}

.gallery-box .gallery-box-header .numbering a {
	font-size: 19px;
	color: #fff;
	padding: 0px 5px;
}

.gallery-box .gallery-box-main-image {
	margin-bottom: 20px;
	display: block;
	text-align: center;
}

.gallery-box .gallery-box-about {
	display: block;
	border-bottom: 1px dotted #5c5c5c;
	margin-bottom: 20px;
}

.gallery-box .gallery-box-thumbs {
	display: block;
	position: relative;
	width: 100%;
	overflow: hidden;
}

.gallery-box .gallery-box-thumbs a.control-left.active, .gallery-box .gallery-box-thumbs a.control-right.active {
	display: block;
}

.gallery-box .gallery-box-thumbs a.control-left {
	display: none;
	position: absolute;
	z-index: 10;
	left: 0px;
	top: 0px;
	color: transparent;
	text-indent: -100px;
	overflow: hidden;
	background: url(../images/gallery-left.png) repeat-y center;
	height: 70px;
	width: 72px;
	color: #fff;
	z-index: 20;
}

.gallery-box .gallery-box-thumbs a.control-right {
	display: none;
	position: absolute;
	z-index: 10;
	right: 0px;
	top: 0px;
	color: transparent;
	text-indent: -100px;
	overflow: hidden;
	background: url(../images/gallery-right.png) repeat-y center;
	height: 70px;
	width: 72px;
	color: #fff;
	z-index: 20;
}

.gallery-box .gallery-box-thumbs ul {
	display: block;
	font-size: 0;
	width: auto;
	white-space: nowrap;
	transition: margin 0.2s;
	-moz-transition: margin 0.2s;
	-webkit-transition: margin 0.2s;
	-o-transition: margin 0.2s;
}

.gallery-box .gallery-box-thumbs ul li {
	display: inline-block;
	margin-right: 10px;
	position: relative;
}

.gallery-box .gallery-box-thumbs ul li a:hover img {
	opacity: 0.6;
	filter:alpha(opacity=60);
}

.gallery-box .gallery-box-thumbs ul li a:before {
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.1);
	content: '';
}

.gallery-box .gallery-box-thumbs ul li.active:before {
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	box-shadow: inset 0px 0px 0px 5px #fff;
	content: '';
	z-index: 10;
}





.content .filter {
	display: block;
	padding-bottom: 10px;
	border-bottom: 1px dotted #ccc;
	margin-bottom: 15px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0;
	line-height: 100%;
}

.content .filter b {
	font-size: 11px;
	display: inline-block;
	padding: 3px 10px 3px 0px;
	margin-bottom: 5px;
	line-height: 120%;
}

.content .filter a {
	font-size: 11px;
	display: inline-block;
	margin-right: 5px;
	padding: 3px 5px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	line-height: 120%;
	background: #e9e9e9;
	color: #8f8e8e;
	margin-bottom: 5px;
}

.content .filter a:hover {
	color: #8f8e8e;
	background: #e1e1e1;
}

.content .filter a.active {
	background: #264c84;
	color: #fff;
}


/*  */

.archive {
	display: block;
}

.archive .archive-block {
	display: block;
	float: left;
	width: 320px;
	margin-right: 25px;
	margin-bottom: 25px;
}

.archive .archive-block .content-panel {
	border-bottom: 0px;
}

.archive .archive-block:nth-child(3n+0):after {
	content: '';
	display: block;
	clear: both;
	width: 100%;
	height: 1px
}

.archive .archive-block:nth-child(3n+0) {
	margin-right: 0px;
}




/* #8 Sidebar styling */

.main-content-right {
	display: block;
	width: 310px;
	float: left;
	margin-left: 20px;
}

.main-content-right .main-split-left {
	display: block;
	width: 145px;
}

.main-content-right .main-split-right {
	display: block;
	width: 145px;
}

.article-middle-block {
	display: block;
	background: #f6f6f6;
	margin-bottom: 15px;
}

.article-middle-block .article-photo {
	display: block;
	padding-bottom: 8px;
}

.article-middle-block .article-header {
	display: block;
	padding: 0px 10px 4px 10px;
}

.article-middle-block .article-header h2 a {
	display: block;
	font-size: 13px;
	line-height: 128%;
	font-family: 'Titillium Web', sans-serif;
	color: #232323;
}

.article-middle-block .article-header h2 a:hover {
	text-decoration: underline;
}

.article-middle-block .article-links {
	display: block;
	padding: 0px 10px 7px 10px;
}

.article-middle-block .article-links .article-icon-link {
	color: #a2a2a2;
}

.article-middle-block .article-links .article-icon-link:hover {
	color: #232323;
}

.main-content-right .panel {
	display: block;
	margin-bottom: 15px;
	position: relative;
}

.main-content-right .panel h3 {
	display: block;
	background: #264c84;
	color: #fff;
	line-height: 110%;
	font-family: 'Titillium Web', sans-serif;
	font-size: 12px;
	margin-bottom: 12px;
	padding: 7px 10px 9px 10px;
	text-transform: uppercase;
}

li.cat-item {
	display: block;
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #ccc;
	padding-left: 12px;
	position: relative;
}

.category-list {
	display: block;
}

.category-list li {
	display: block;
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #ccc;
	padding-left: 12px;
	position: relative;
}

.category-list li a {
	font-size: 12px;
	font-weight: bold;
	color: #232323;
}

.category-list li a:hover {
	text-decoration: underline;
}

.category-list li .article-count {
	display: inline-block;
	font-size: 10px;
	color: #6f6f6f;
	padding-left: 6px;
}

.category-list li .category-bull {
	display: block;
	position: absolute;
	width: 5px;
	height: 5px;
	background: #264c84;
	top: 7px;
	left: 0px;
	cursor: default;
	text-indent: -1000px;
}

.panel-comment {
	display: block;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px dotted #ccc;
}

.main-nosplit .panel-comment:last-child {
	border-bottom: 0px;
	padding-bottom: 5px;
	margin-bottom: 0px;
}

.main-content-split .panel-comment .comment-image {
	display: none;
}

.panel-comment .comment-image {
	display: block;
	float: left;
	width: 40px;
	height: 40px;
	margin-right: 15px;
	margin-top: 3px;
}

.main-nosplit .panel-comment .comment-header,
.main-nosplit .panel-comment .comment-content,
.main-nosplit .panel-comment .comment-links {
	margin-left: 55px;
}

.panel-comment .comment-image:before {
	display: block;
	content: '';
	clear: both;
}

.panel-comment .comment-header {
	display: block;
	padding-bottom: 6px;
}

.panel-comment .comment-header b {
	color: #232323;
	font-size: 12px;
}

.panel-comment .comment-header b a {
	color: #232323;
}

.panel-comment .comment-header b a:hover {
	text-decoration: underline;
}

.panel-comment .comment-header .comment-wrote {
	font-size: 11px;
	display: inline-block;
	padding: 1px 0px 0px 4px;
}

.panel-comment .comment-content {
	display: block;
	padding-bottom: 6px;
}

.panel-comment .comment-content p {
	color: #6f6f6f;
	font-size: 11px;
	line-height: 160%;
}

.panel-comment .comment-links {
	display: block;
}

.panel-comment .comment-links .comment-icon-link {
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
	color: #a7a7a7;
}

.panel-comment .comment-links .comment-icon-link:hover {
	color: #232323;
	text-decoration: underline;
}

.panel-comment .comment-links .comment-icon-link .icon-text {
	display: inline-block;
	padding-right: 8px;
	font-size: 13px;
}

.panel-gallery {
	display: block;
	margin-bottom: 17px;
	padding-bottom: 12px;
	border-bottom: 1px dotted #ccc;
}

.panel-gallery .gallery-images {
	display: block;
	margin-bottom: 8px;
	position: relative;
}

.panel-gallery .gallery-header {
	display: block;
}

.panel-gallery .gallery-header b {
	display: block;
}

.panel-gallery .gallery-header b a {
	display: block;
	font-size: 13px;
	font-weight: bold;
	color: #232323;
	line-height: 140%;
	font-family: 'Titillium Web', sans-serif;
}

.panel-gallery .gallery-header b a:hover {
	text-decoration: underline;
}

.panel-gallery .gallery-images .gallery-navi-left {
	display: block;
	background: #fff;
	position: absolute;
	font-size: 17px;
	padding: 5px 10px;
	z-index: 10;
	left: -1px;
	top: 50%;
	margin-top: -13px;
	color: #232323;
	opacity: 0;
	filter: alpha(opacity=0);
}

.panel-gallery .gallery-images:hover .gallery-navi-left {
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.panel-gallery .gallery-images:hover .gallery-navi-left:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

.panel-gallery .gallery-images .gallery-navi-right {
	display: block;
	background: #fff;
	position: absolute;
	font-size: 17px;
	padding: 5px 10px;
	z-index: 10;
	right: -1px;
	top: 50%;
	margin-top: -13px;
	color: #232323;
	opacity: 0;
	filter: alpha(opacity=0);
}

.panel-gallery .gallery-images:hover .gallery-navi-right {
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.panel-gallery .gallery-images:hover .gallery-navi-right:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

.panel-gallery .gallery-images ul {
	display:block;
	width:145px;
	height:101px;
	position:relative;
	margin-bottom:10px;
}

.main-nosplit .panel-gallery .gallery-images ul,
.main-nosplit .panel-gallery .gallery-images ul li {
	width: 310px;
	height: 216px;
}

.main-content-split .panel-gallery .gallery-images ul li img {
	width:145px!important;
	height:101px!important;
}

.panel > div > .panel-gallery:last-child {
	border-bottom: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.panel-gallery .gallery-images ul li {
	display:block;
	width:145px;
	height:101px;
	position:absolute;
	z-index:2;
	opacity:0;
	filter:alpha(opacity=0);
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
}

.panel-gallery .gallery-images ul li.active {
	z-index:3;
	opacity:1;
	filter:alpha(opacity=100);
}

.info-message {
	display: block;
	background: #f4ebda;
	font-size: 11px;
	line-height: 140%;
	color: #8b755e;
	padding: 10px 10px;
}

.info-message p {
	display: block;
}

.info-message b {
	font-size: 18px;
	display: block;
	padding-bottom: 4px;
}

.main-content-split .info-message span.icon-text {
	display: none;
}

.main-content-split .info-message b {
	font-size: 16px;
}

.info-message span.icon-text {
	display: block;
	float: left;
	font-size: 32px;
	height: 30px;
	padding-top: 10px;
	padding-right: 12px;
}

.info-message.success {
	background: #589f19;
	color: #fff;
}

.info-message.fail {
	background: #9f2919;
	color: #fff;
}

.main-nosplit .panel {
	margin-bottom: 15px;
	padding-bottom: 13px;
	border-bottom: 1px dotted #ccc;
}

.subscribe-block {
	display: block;
	margin-top: 25px;
	margin-bottom: 15px;
}

.main-content-split .subscribe-block p {
	width: auto!important;
}

.subscribe-block p {
	display: block;
	width: 220px;
	margin: 0px auto;
	margin-bottom: 5px;
}

.subscribe-block p label {
	display: block;
	font-size: 11px;
	font-weight: bold;
	padding-bottom: 2px;
}

.subscribe-block p input[type=text] {
	display: block;
	width: 100%;
	background: #fff;
	border: 1px solid #d3d3d3;
	padding: 6px 10px;
	color: #6f6f6f;
	font-size: 12px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.subscribe-block p input[type=text]:focus {
	border: 1px solid #bbbbbb;
}

.subscribe-block p.sub-submit {
	margin-top: 15px;
}

.subscribe-block p input[type=submit], input.submit-button {
	display: block;
	background: #ebebeb;
	border: 1px solid #cacaca;
	border-radius: 2px;
	-moz-border-radius: 2px;
	box-shadow: 0px 2px 0px rgba(0,0,0,0.03), inset 0px 1px 0px rgba(255,255,255,0.5);
	padding: 6px 16px;
	font-size: 11px;
	font-weight: bold;
	color: #6e6e6e;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.6);
	cursor: pointer;
}

.subscribe-block p input[type=submit]:hover, input.submit-button:hover {
	box-shadow: inset 0px 0px 20px rgba(255,255,255,0.4);
}

.subscribe-block p input[type=submit]:active, input.submit-button:active {
	box-shadow: inset 0px 0px 30px rgba(0,0,0,0.04), inset 0px 1px 2px rgba(0,0,0,0.05);
}

.panel .tagcloud {
	display: block;
}

.panel .tagcloud > a {
	display: inline-block;
	color: #6f6f6f;
	background: #f5f5f5;
	font-size: 10px!important;
	font-weight: bold;
	padding: 1px 9px;
	border: 1px solid #ececec;
	margin: 0px 7px 7px 0px;
}

.panel .tagcloud > a:hover {
	background: #264c84;
	border: 1px solid #264c84;
	color: #fff;
}

#wp-calendar {
	width: 100%;
	text-align: center;
}

#wp-calendar caption {
	background: #f4ebda;
	margin-top: -12px;
	padding: 9px 0px;
	font-weight: bold;
	font-size: 13px;
	color: #8b755e;
	text-transform: uppercase;
}

#wp-calendar thead th {
	color: #4d4d4d;
	padding: 12px 0px;
}

#wp-calendar thead {
	color: #4d4d4d;
}

#wp-calendar td {
	padding: 0px;
}

.main-content-split #wp-calendar td {
	line-height: 60%;
}

.main-content-split #wp-calendar tfoot #prev a:hover, .main-content-split #wp-calendar tfoot #next a:hover {
	background: none;
}

.main-content-split #wp-calendar tfoot #prev a {
	margin-top: -6px;
	padding: 10px 10px 11px 10px;
	width: 0px;
	overflow: hidden;
	display: inline-block;
	white-space: nowrap;
}

.main-content-split #wp-calendar tfoot #next a {
	margin-top: -6px;
	padding: 10px 10px 11px 10px;
	text-align: right;
	display: inline-block;
	right: 0px;
	position: absolute!important;
	white-space: nowrap;
}

.main-content-split #wp-calendar tfoot #next {
	position: absolute;
	right: 0px;
	width: 21px;
	height: 21px;
	overflow: hidden;
	white-space: nowrap;
	text-align: right;
}

#wp-calendar tfoot #prev {
	text-align: left;
}

#wp-calendar tfoot #next {
	text-align: right;
}

#wp-calendar tbody td span {
	background: #f5f5f5;
	display: block;
	padding: 5px 0px;
	margin: 2px;
	font-weight: bold;
	border: 1px solid #ececec;
	color: #787878;
	font-size: 11px;
}

#wp-calendar tbody td#today span, #wp-calendar tbody td#today a {
	color: #618340;
	background: #bee994;
	border: 1px solid #9bba86;
}

#wp-calendar tbody td a:hover {
	background: #ede0c9;
}

#wp-calendar tbody td#today a:hover {
	background: #aede7e;
}

#wp-calendar tbody td a {
	display: block;
	background: #f4ebda;
	border: 1px solid #dfd2bf;
	color: #8b755e;
	margin: -6px -1px;
	padding: 5px 0px;
}

#calendar_wrap {
	position: relative;
}

#wp-calendar tfoot {
	position: absolute;
	top: -3px;
	width: 100%;
}

#wp-calendar tfoot #prev {
	position: absolute;
	left: 0px;
}

#wp-calendar tfoot #next {
	position: absolute;
	right: 0px;
}

#wp-calendar tfoot a {
	margin-top: -12px;
	padding: 10px 14px 11px 14px;
	font-weight: bold;
	font-size: 13px;
	color: #8b755e;
}

#wp-calendar tfoot a:hover {
	background: rgba(0,0,0,0.05);
}

.main-content-split .panel .top-right {
	display: none;
}

.panel .top-right {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	color: #fff;
	padding: 5px 10px;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
}

.panel .top-right a {
	color: #fff;
}

.panel .top-right a:hover {
	text-decoration: underline;
}

.article-side-block {
	display: block;
	margin-bottom: 15px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #ccc;
}

.main-content-split .article-side-block .article-photo, .main-content-split .article-side-block .article-photo img {
	width: 100%;
}

.article-side-block .article-photo {
	display: block;
	padding-bottom: 10px;
}

.article-side-block .article-header {
	display: block;
	padding-bottom: 10px;
}

.article-side-block .article-header h2 a {
	font-size: 20px;
	font-family: 'Titillium Web', sans-serif;
	margin-top: -4px;
	color: #232323;
	line-height: 116%;
}

.article-side-block .article-header h2 a:hover {
	text-decoration: underline;
}

.panel > div > .article-side-block:last-child {
	margin-bottom: 0px;
	padding-bottom: 0px;
	border: 0px;
}

.main-content-right .banner {
	padding-top: 5px;
	background: #ececec;
	padding-bottom: 5px;
	border: 0px;
}

.main-content-right .banner .banner-info {
	padding-top: 5px;
}

.article-classic {
	display: block;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px dotted #ccc;
}

.article-classic .article-photo {
	display: block;
	float: left;
	width: 330px;
	margin: 0px 15px 0px 0px;
}

.article-classic .article-header {
	display: block;
	padding-bottom: 10px;
	margin-left: 345px;
}

.article-classic .article-header h2 a {
	color: #232323;
	font-size: 20px;
	font-family: 'Titillium Web', sans-serif;
}

.article-classic .article-header h2 a:hover {
	text-decoration: underline;
}



.article-classic.article-no-image .article-header,
.article-classic.article-no-image .article-content,
.article-classic.article-no-image .article-links {
	margin-left: 0px;
}

.article-classic .article-content {
	margin-bottom: 10px;
	margin-left: 345px;
}

.article-classic .article-content p {
	color: #6f6f6f;
	text-align: justify;
	line-height: 150%;
	font-size: 12px;
}

.article-classic .article-links {
	margin-left: 345px;
}



/* #9 Footer */

.footer {
	padding-top: 30px;
}

.footer-content {
	display: block;
	padding-bottom: 10px;
}

.footer-content .footer-menu {
	display: block;
	padding-bottom: 10px;
}

.footer-content .footer-menu ul {
	display: block;
	font-size: 0;
}

.footer-content .footer-menu ul li {
	display: inline-block;
	margin-right: 10px;
	padding-right: 10px;
	font-size: 10px;
	text-transform: uppercase;
	position: relative;
}

.footer-content .footer-menu ul li:before {
	content: '';
	display: block;
	position: absolute;
	width: 1px;
	height: 14px;
	background: #e1e1e1;
	top: 0px;
	right: 0px;
	margin-top: 2px;
	transform: rotate(10deg);
	-ms-transform: rotate(10deg);
	-webkit-transform: rotate(10deg);
	-o-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
}

.footer-content .footer-menu ul li:last-child:before {
	display: none;
}

.footer-content .footer-menu ul li a {
	font-weight: bold;
}

.footer-content .left {
	font-size: 11px;
	color: #8b8b8b;
}

.footer-content .right {
	font-size: 11px;
	color: #8b8b8b;
}


.social-icons-float.morespace {
	margin-top: 80px;
}

.social-icons-float {
	display: block;
	position: absolute;
	top: 70px;
	left: -115px;
	background: #fff;
	width: 70px;
	padding: 15px;
	padding-bottom: 0px;
	z-index: 10;
}

.social-icons-float .soc-header {
	display: block;
	position: absolute;
	background: #fff;
	top: -30px;
	left: 0px;
	width: 100%;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 11px;
	padding: 6px 0px;
	color: #a0a0a0;
}

.social-icons-float .soc-header:before {
	content: '';
	display: block;
	position: absolute;
	width: 70px;
	height: 1px;
	bottom: 1px;
	left: 15px;
	border-bottom: 1px dotted #e5e5e5;
}

.social-icons-float .social-icon {
	display: block;
	padding-bottom: 15px;
	font-size: 13px;
}

.social-icons-float .social-icon .social-count {
	display: block;
	background: #fff;
	border: 1px solid #e3e3e3;
	text-align: center;
	padding: 12px 0px;
	font-size: 24px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: bold;
	color: #a0a0a0;
	position: relative;
	margin-bottom: 8px;
}

.social-icons-float .social-icon .social-count .social-arrow {
	display: block;
	overflow: hidden;
	height: 10px;
	position: absolute;
	bottom: -10px;
	width: 100%;
}

.social-icons-float .social-icon .social-count .social-arrow:before {
	display: block;
	content: '';
	background: #e3e3e3;
	width: 10px;
	height: 10px;
	top: -5px;
	left: 50%;
	margin-left: -5px;
	position: absolute;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
}

.social-icons-float .social-icon .social-button {
	background: #495fbd;
	color: #fff;
	display: block;
}

.social-icons-float .social-icon .social-button .icon-text {
	display: inline-block;
	padding: 1px 0px;
	float: left;
	width: 22px;
	text-align: center;
	font-size: 10px;
}

.social-icons-float .social-icon .social-button font {
	display: inline-block;
	padding: 1px 1px;
	font-size: 10px;
	display: block;
	background: rgba(255,255,255,0.15);
	margin-left: 22px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}

.social-icons-float .social-icon .social-button:hover font {
	background: none;
}

.social-icons-float .social-icon .social-button:hover .icon-text {
	/*background: none;*/
	background: rgba(0,0,0,0.1);
}


.main-article-content {
	display: block;
	margin-bottom: 25px;
}

.main-article-content h2.article-title {
	font-size: 22px;
	font-weight: bold;
	font-family: 'Titillium Web', sans-serif;
	margin-bottom: 15px;
	color: #232323;
}

.main-article-content .shortcode-content {
	display: block;
	margin-bottom: 20px;
}

.main-article-content .shortcode-content p {
	font-size: 12px;
	margin-bottom: 15px;
	color: #6f6f6f;
	text-align: justify;
}

.main-article-content .article-photo {
	display: block;
	margin-bottom: 15px;
}

.main-article-content .article-controls {
	display: block;
	margin-bottom: 15px;
	margin-top: -15px;
	padding-bottom: 0px;
	border-bottom: 1px dotted #ccc;
}

.main-article-content .article-controls .date {
	display: block;
	float: left;
}

.main-article-content .article-controls .date .calendar-date {
	float: left;
	font-size: 28px;
	font-weight: bold;
	color: #232323;
	font-family: 'Titillium Web', sans-serif;
	line-height: 200%;
}

.main-article-content .article-controls .date .calendar-time {
	display: block;
	float: left;
	padding: 16px 0px 0px 10px
}

.main-article-content .article-controls .date .calendar-time font {
	display: block;
	font-size: 11px;
	font-weight: bold;
	line-height: 120%;
	color: #232323;
}

.main-article-content .article-controls .right-side {
	display: block;
	float: right;
	height: 60px;
}

.main-article-content .article-controls .right-side > div {
	float: right;
	vertical-align: middle;
	padding-top: 10px;
	text-align: right;
	line-height: 160%;
}

.main-article-content .article-controls .right-side .colored {
	background: #f6f6f6;
	border-left: 1px dotted #ccc;
	height: 50px;
	padding-right: 20px;
	padding-left: 20px;
	white-space: nowrap;
	margin-left: 20px;
	text-align: left;
}

.main-article-content .article-controls .icon-link {
	color: #232323;
	font-weight: bold;
	display: block;
	font-size: 12px;
}

.main-article-content .article-controls .icon-link:hover {
	text-decoration: underline;
}

.main-article-content .article-controls .icon-link .icon-text {
	display: inline-block;
	padding-right: 8px;
}

.article-share-bottom {
	display: block;
	background: #f6f6f6;
	margin-bottom: 25px;
	padding: 10px;
	border-top: 1px dotted #ccc;
	border-bottom: 1px dotted #ccc;
}

.article-share-bottom b {
	font-size: 12px;
	font-weight: bold;
	color: #a0a0a0;
	float: left;
	padding: 1px 13px 1px 0px;
}

.article-share-bottom .social-icon {
	display: block;
	float: left;
	font-size: 0;
}

.article-share-bottom .social-icon .social-button {
	display: inline-block;
	color: #fff;
	padding: 0px;
	width: 70px;
}

.article-share-bottom .social-icon .social-button font {
	font-size: 10px
}

.article-share-bottom .social-icon .social-count {
	display: inline-block;
	background: #fff;
	border: 1px solid #ccc;
	font-size: 11px;
	font-weight: bold;
	margin-right: 10px;
	font-family: 'Titillium Web', sans-serif;
	padding: 0px 5px;
	color: #a0a0a0;
	margin-left: 5px;
	position: relative;
}

.article-share-bottom .social-icon .social-count .social-arrow {
	display: block;
	position: absolute;
	left: -5px;
	width: 5px;
	height: 100%;
	top: 0px;
	cursor: default;
	overflow: hidden;
}

.article-share-bottom .social-icon .social-count .social-arrow:before {
	position: absolute;
	display: block;
	content: '';
	top: 50%;
	margin-top: -3px;
	left: 2px;
	width: 5px;
	height: 5px;
	background: #ccc;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
}


.article-share-bottom .social-icon .social-button {
	background: #495fbd;
	color: #fff;
	display: inline-block;
}

.article-share-bottom .social-icon .social-button .icon-text {
	display: inline-block;
	padding: 1px 0px;
	float: left;
	width: 22px;
	text-align: center;
	font-size: 10px;
}

.article-share-bottom .social-icon .social-button font {
	padding: 1px 1px;
	font-size: 10px;
	display: block;
	background: rgba(255,255,255,0.15);
	margin-left: 22px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}

.article-share-bottom .social-icon .social-button:hover font {
	background: none;
}

.article-share-bottom .social-icon .social-button:hover .icon-text {
	/*background: none;*/
	background: rgba(0,0,0,0.1);
}

.author-photo {
	display: block;
	float: left;
	width: 60px;
	height: 60px;
	margin-right: 20px;
	padding-top: 3px;
	margin-bottom: 20px;
}

.author-content {
	display: block;
	margin-left: 80px;
	position: relative;
	margin-bottom: 20px;
}

.author-content p {
	text-align: justify;
}

.author-content h3 {
	color: #232323;
	font-family: 'Titillium Web', sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 10px;
}

.author-content .right-top {
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 0;
}

.author-content .right-top a {
	font-size: 17px;
	margin-left: 4px;
	color: #adadad;
}

.author-content .right-top a:hover {
	color: #232323;
}


/* #9 Lightbox */

.lightbox .loading-box {
	padding:50px 0px;
	line-height: 24px;
}

.startlightbox  {
	overflow: hidden;
	color:#232323;
}

.startlightbox .lightbox {
	display:block;
}

.lightbox {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
    text-align:center;
	z-index:200;
	display:none;
	overflow-y:scroll!important;
}

.lightbox .main-black-block {
	box-shadow:none;
	background:#212121;
	color:#ccc;
	font-size: 11.5px;
	line-height: 20px;
	font-weight: 300;
	padding-bottom: 5px;
	color:#8a8a8a;
}

.lightbox .lightcontent .light-close span, .lightbox .lightcontent-loading .light-close span {
	font-family: 'Entypo';
	font-size:14px;
	display:inline-block;
	margin-top:-2px;
	margin-right:6px;
}

.lightbox .lightcontent .light-close:hover, .lightbox .lightcontent-loading .light-close:hover {
	color:#db2727;
}

.lightbox .lightcontent .light-close:active, .lightbox .lightcontent-loading .light-close:active {
	color:#b01e1e;
}

.lightbox .lightcontent .light-close, .lightbox .lightcontent-loading .light-close {
	display:block;
	right:0px;
	top:-30px;
	font-family: Arial;
	position:absolute;
	font-size:12px;
	color:#fff;
	text-shadow:0 1px 3px rgba(0,0,0,0.6);
}

.lightbox .lightcontent, .lightbox .lightcontent-loading {
	background:#fff;
	width:1010px;
	margin:100px auto 70px auto;
	position:relative;
	box-shadow: 0px 1px 4px rgba(0,0,0,0.5);
	text-align:left;
}

.lightbox .light-title {
	display:block;
	position:absolute;
	top:-33px;
	color:#fff;
	text-shadow:0 1px 3px rgba(0,0,0,0.6);
	height:23px;
	width:780px;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space:nowrap; 
}

.loading-box {
	display:block;
	text-align:center;
}

.loading-box .loading-image {
	display:block;
	text-align:center;
	padding-top:20px;
}

.lightbox .carousel-left {
	left:8px;
}

.lightbox .carousel-right {
	right:8px;
}

.lightbox blockquote {
	padding-bottom:30px;
}

.lightbox .article-main-content {
	padding: 0px 55px;
	width: auto;
}

.loading-message {
	display: block;
	background: #f0f0f0;
	padding: 10px 15px;
	font-size: 11px;
	line-height: 140%;
}

.loading-message img {
	display: block;
	float: left;
	width: 34px;
	padding-right: 15px;
}

.main-content-split .loading-message img {
	display: none;
}

.loading-message:before {
	display: block;
	content: '';
	clear: both;
}

.loading-message b {
	font-size: 18px;
	display: block;
	padding-bottom: 4px;
}

.panel .searchform {
	text-align: center;
}

.panel label.screen-reader-text {
	display: none
}

.main-content-split .panel input[type=text].search {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 6px;
}

.panel input[type=text].search {
	padding: 6px 8px;
	margin-right: 5px;
	width: 170px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #d3d3d3;
	box-shadow: inset 0px 10px 15px rgba(0,0,0,0.04);
	color: #6f6f6f;
	font-size: 12px;
}

.panel input[type=submit]#searchsubmit {
	background: #ebebeb;
	border: 1px solid #cacaca;
	border-radius: 2px;
	-moz-border-radius: 2px;
	box-shadow: 0px 2px 0px rgba(0,0,0,0.03), inset 0px 1px 0px rgba(255,255,255,0.5);
	padding: 6px 16px;
	font-size: 11px;
	font-weight: bold;
	color: #6e6e6e;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.6);
	cursor: pointer;
}

.panel li.cat-item:last-child {
	border-bottom: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

body.logged-in .floatingmainmenu {
	top: 28px!important;
}

body.logged-in .floatingmainmenu_b {
	top: 69px!important;
}

.floatingmainmenu_b {
	z-index: 19!important;
}

.backtopbutton {
	display: block;
	position: fixed;
	bottom: 30px;
	right: 30px;
	color: #fff;
	padding: 12px 14px;
	font-size: 16px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	background: #000;
	line-height: 150%;
	text-align: center;
	font-size: 10px;
	opacity: 0.6;
	z-index: 15;
}

.backtopbutton:hover {
	color: #fff;
	opacity: 1;
}

.backtopbutton .icon-text {
	display: block;
	font-size: 20px;
}



/*  */

.text-indent {
	text-indent: 96px;
}

#writemessage {
	display: block;
	padding-bottom: 10px;
	padding-top: 5px;
}

#writemessage p {
	display: block;
	padding-bottom: 7px;
	text-align: center;
	position: relative;
	width: 300px;
	margin: 0px auto;
	text-align: left;
}

#writemessage p.comment-notes {
	display: block;
	padding-bottom: 20px;
	font-size: 12px;
}

#writemessage p label {
	position: absolute;
	right: 320px;
	white-space: nowrap;
	padding-top: 4px;
	font-weight: bold;
	font-size: 11px;
}

#writemessage p label .required {
	position: absolute;
	right: -10px;
	color: #cc1c1c;
	font-size: 13px;
	font-weight: bold;
}

#writemessage p .comment-error {
	display: block;
	position: relative;
	font-size: 10px;
	font-weight: bold;
	width: 180px;
	background: #cc1c1c;
	color: #fff;
	padding: 2px 8px;
	cursor: default;
	border-radius: 0px 0px 2px 2px;
	-moz-border-radius: 0px 0px 2px 2px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#writemessage p .comment-error.textarea-error {
	width: 100%;
	margin-top: -5px;
}

#writemessage p .comment-error .icon-text {
	display: inline-block;
	padding-right: 6px;
}

#writemessage input[type=text], #writemessage textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 12px;
}

#writemessage input[type=text] {
	padding: 5px 8px;
	width: 180px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #d3d3d3;
	box-shadow: inset 0px 10px 15px rgba(0,0,0,0.04);
	color: #6f6f6f;
	font-size: 12px;
}

#writemessage input[type=text].error, #writemessage textarea.error {
	border: 1px solid #cc1c1c;
	border-radius: 2px 2px 0px 0px;
	-moz-border-radius: 2px 2px 0px 0px;
}

#writemessage textarea {
	padding: 5px 8px;
	width: 100%;
	height: 100px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #d3d3d3;
	box-shadow: inset 0px 10px 15px rgba(0,0,0,0.04);
	color: #6f6f6f;
}







#_legatus-tooltip {
	display:block;
	background:#232323;
	color:#fff;
	position:absolute;
	padding:3px 9px;
	font-size:11px;
	left:0px;
	top:0px;
	z-index:-1;
	opacity:0;
	filter:alpha(opacity=0);
	margin-top:-20px;
	border-radius:2px;
	-moz-border-radius:2px;
	cursor:default;
	box-shadow:0px 1px 1px rgba(0,0,0,0.2);
	-moz-box-shadow:0px 1px 1px rgba(0,0,0,0.2);
	/*-moz-transition: opacity 0.2s, margin-top 0.2s;
	-webkit-transition: opacity 0.2s, margin-top 0.2s;
	-o-transition: opacity 0.2s, margin-top 0.2s;*/
}

#_legatus-tooltip:before {
	display:block;
	content:'';
	width:6px;
	height:6px;
	background:inherit;
	position:absolute;
	bottom:-2px;
	left:50%;
	margin-left:-3px;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
}

#_legatus-tooltip.active {
	display:block;
	z-index:100;
	margin-top:-28px;
	opacity:1;
	filter:alpha(opacity=100);
}
#screenshot{
	position:absolute;
	width:350px;
	border:1px solid #ccc;
	background:#333;
	padding:5px;
	display:none;
	color:#fff;
	}